.section
	position: relative
	width: 100%

.full
	composes: section
	height: 100vh

.centered
	composes: section
	display: flex
	align-items: center
	justify-content: center
	height: 100vh

.home
	background: var(--brand-info)