.input
	position: relative
	width: 100%

	padding: 10px 15px
	box-sizing: border-box

	font-weight: 600
	font-family: var(--font-family)
	color: var(--brand-text-dark)

	border: 1px solid #F2F2F2
	background: transparent
	outline-color: transparent

	margin: auto

.label
	position: relative
	display: block

	font-size: 12px
	font-weight: 600

	color: var(--brand-text)

	margin-bottom: 5px
	transition: ease .5s

.form-group
	display: block
	margin-bottom: 20px