:global(:root)
	// Colors
	--brand-default: #F1F1F1
	--brand-primary: #5762D5
	--brand-success: #33F778
	--brand-warning: #F8AB37
	--brand-danger:  #F83747
	--brand-info: #379FF8

	--brand-text: #C7C7C7
	--brand-text-dark: #737980

	//Typography
	--font-family: 'Source Sans Pro', sans-serif
	--font-size-base: 16px