doctype html
html(lang='pt-br')

	head
		title Smart House

		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')
		meta(name='description' content='')

		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700')

	body
		div(id='app')
		script(type='application/json' id='initialState')