//
// Button
// --------------------------------------------------

.btn 
  position: relative

  display: inline-block
  padding: 11px 20px
  box-sizing: border-box

  font-size: 15px
  font-weight: 400

  text-align: center
  text-transform: uppercase

  vertical-align: middle
  touch-action: manipulation

  margin: 0 auto

  cursor: pointer
  user-select: none
  
