$input-border-color = #E2E9EC

.input
	position: relative
	width: 100%
	
	padding: 9px 15px
	box-sizing: border-box

	font-weight: 600
	font-family: 'Source Sans Pro', sans-serif
	color: #737980

	border: 2px solid $input-border-color
	background: transparent
	outline-color: transparent

	margin: auto

	// Modifier style
	+mod('rounded')
		border-radius: 500px

	+mod('search')
		max-width: 500px
		min-width: 300px