//
// Functions
// --------------------------------------------------

//== PX to EM
//
//## Usage - fonte-size: em(12px)

em($value, $context = $font-size-base)
	$type = unit($value)
	if $type == 'px'
		return unit($value / $context, 'em')
	else
		return unit($value, $type)