// $bp-mobilee = 120px

media-querie($media)

	if $media == mobile
		@media only screen and (min-width: $bp-mobile)
			{block}
	
	else if $media == tablet
		@media only screen and (min-width: $bp-tablet)
			{block}
	
	else if $media == desktop
		@media only screen and (min-width: $bp-desktop)
			{block}

//== Clearfix
//
//## @include clearfix()
clearfix()
	&:before,
	&:after
		content: ''
		display: table
	&:after
		clear: both

/// Block Element
/// @access public
/// @param String $element - Element's name
el($element, $prop = '')
	&__{$element} {$prop}
		{block}

/// Block Modifier
/// @access public
/// @param String $modifier - Modifier's name
/// @param String $prop - Properties is a optinal for create nesting child elements
/// @description $prop @include mod('center', 'img') - output .selector--center img 
mod($modifier, $prop = '')
		&--{$modifier} {$prop}
			{block}