.tab
	position: relative

	width: 100%
	max-width: 450px

	padding: 25px
	margin: 20px

	border-radius: 4px
	background: white
	box-shadow: 1px 1px 0 1px rgba(90, 90, 90, .25)

.navigation
	// padding: 0 20px
	max-height: 50px
	border-bottom: 1px solid #f2f2f2
	margin-bottom: 30px

.menu
	display: table
	list-style: none
	padding: 0
	margin: 0


.item
	float: left

.item a
	height: 50px

	display: block
	padding: 0 10px

	color: #C7C7C7

	line-height: 50px
	border-bottom: 0

	cursor: pointer
	transition: ease .2s

.active
	background: transparent
	border-top: 0
	border-bottom: 2px solid var(--brand-info)

	& a
		color: #737980

.panel
	text-align: left

