.button
	display: inline-block
	padding: 11px 20px
	box-sizing: border-box

	font-size: 15px
	font-weight: 600
	font-family: var(--font-family)

	color: white
	text-align: center
	vertical-align: middle

	border: 0
	border-radius: 4px

	background: transparent

	user-select: 0
	cursor: pointer
	touch-action: manipulation

.default
	composes: button
	color: #333
	background: var(--brand-default)

.primary
	composes: button
	background: var(--brand-primary)

.success
	composes: button
	background: var(--brand-success)

.warning
	composes: button
	background: var(--brand-warning)

.danger
	composes: button
	background: var(--brand-danger)

.info
	composes: button
	background: var(--brand-info)