doctype html
html(lang='pt-br')

	head
		title Podcast

		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')
		meta(name='description' content='')

		link(rel='stylesheet', href='static/stylesheet/application.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:400,600,700')

	body
		include ./_views/section-home
		script(src="src/bundle.js")
